{{ "<!-- partials/tapir.html begin -->" | safeHTML }}
<link rel="stylesheet" href="{{ "css/tapir.css" | absURL }}" />

    <div class="tapir">
        <div class="foot right"></div>
        <div class="torso"></div>
        <div class="body"></div>
        <div class="head"></div>
        <div class="eye"></div>
        <div class="ears"></div>
        <div class="snout"></div>
        <div class="bicep"></div>
        <div class="laptop"></div>
        <div class="laptop-logo"></div>
        <div class="paw"></div>
        <div class="foot left"></div>
    </div>
{{ "<!-- partials/tapir.html end -->" | safeHTML }}