{{ define "main" }}
<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
        <ul class="event-list">
          {{ range sort .Site.Data.meetups.list "from" }}
            {{ if ge (time .from) (now.AddDate 0 0 -1) }}
              <li class="event-entry list-group-item d-flex justify-content-between align-items-center"
                style="margin: 10px; border-radius: 15px"
                data-id="{{ ._id }}"
              >
                {{ if eq (printf "%T" .tags) "[]interface {}" }}
                  <!-- yml has tags as an actual array type -->
                  {{ range .tags }}
                    <span class="badge badge-primary" style="font-weight: normal; background: cornflowerblue">{{ . }}</span>
                  {{ end }}
                {{ else }}
                  <!-- yml has tags as a string comma separated -->
                  {{range (split .tags ",") }}
                    <span class="badge badge-primary" style="font-weight: normal; background: cornflowerblue">{{ . }}</span>
                  {{ end }}
                {{ end}}
                <p>
                  <h3 class="name card-title">{{ .name }}</h3>
                  <h4 class="details card-subtitle text-muted">
                    <span class="from-to" data-from="{{ .from }}" data-to="{{ .to }}"></span>
                  </h4>
                  <h4>{{ .venue }}</h4>
                  <a class="address" href="{{ .map }}" target="_blank">{{ .address }}</a>
                </p>

                <div class="btn-group" role="group">
                  {{ if .address }}
                    <span><a href="{{ .map }}" target="_blank" class="btn btn-primary">Map</a></span>
                  {{ end }}

                  <span class="add-to-google-calendar" data-gcal="{{ .dates }}" data-from="{{ .from }}" data-to="{{ .to }}">
                    <a class="btn btn-primary"
                      href='https://www.google.com/calendar/render?action=TEMPLATE&text={{ .name }}&details=Event+page+link:+{{ .link }}&location={{ .address }}&sf=true&output=xml'
                      target="_blank">Add to calendar
                    </a>
                  </span>

                  <span><a class="event-link btn btn-primary" href="{{ .link }}" target="_blank">Event page</a></span>
                </div>
              </li>
            {{ end }}
          {{ end }}
        </ul>

        {{ .Content }}

          <div id="new-meetup-form">
            <form method="POST" action="{{ .Site.Params.staticman_api }}">
              <input name="options[redirect]" type="hidden" value="{{ .Permalink }}#post-submitted">
              <input name="options[redirectError]" type="hidden" value="{{ .Permalink }}#post-submitted">
              <div class="form-group">
                <label for="eventName">Event Name</label>
                <input class="form-control" id="eventName" name="fields[name]" type="text" placeholder="(e.g.) RubyConf MY 2018">
              </div>

              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="eventStart">Event Start</label>
                  <input class="flatpickr form-control" id="eventStart" name="fields[from]" type="text" placeholder="Select Date and Time...">
                </div>
                <div class="form-group col-sm-6">
                  <label for="eventEnd">Event End</label>
                  <input class="flatpickr form-control" id="eventEnd" name="fields[to]" type="text" placeholder="Select Date and Time...">
                </div>
              </div>

              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="venue">Event link</label>
                  <input class="form-control" id="link" name="fields[link]" type="text" placeholder="(e.g.) https://wwcodekl-healt-tech.peatix.com/">
                </div>
                <div class="form-group col-sm-6">
                  <label for="tags">Tag</label>
                  <input class="form-control" id="tags" name="fields[tags]" type="text" placeholder="comma separated (e.g.) Ruby, Javascript">
                </div>
              </div>

              <div class="form-group">
                <label for="address">Address</label>
                <input class="form-control" id="address" name="fields[address]" type="text" placeholder="(e.g.) B-12-6, Level 12, Tower B, Vertical Office Suites, Jalan Kerinchi, Bangsar South Kuala Lumpur, Malaysia">
              </div>

              <div class="row">
                <div class="form-group col-sm-6">
                  <label for="venue">Venue</label>
                  <input class="form-control" id="venue" name="fields[venue]" type="text" placeholder="(e.g.) Suria Labs">
                </div>
                <div class="form-group col-sm-6">
                  <label for="map">Map Link</label>
                  <input class="form-control" id="map" name="fields[map]" type="text" placeholder="(e.g.) https://goo.gl/maps/ik9uWtxxKs52">
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>


        <script>
          flatpickr(".flatpickr", {
            enableTime: true,
            dateFormat: "Z",
            altInput: true,
            altFormat: "F j, Y h:iK",
          });

          var content = document.getElementsByClassName("blog-post")[0];
          var links = content.getElementsByTagName("a");

          // set all links to open in a new window
          for (var i = 0, linksLength = links.length; i < linksLength; i++) {
             if (links[i].hostname != window.location.hostname) {
                links[i].target = '_blank';
             }
          }

          // "humanify" date (might be changed later, depending on the design)
          function sameDay(d1, d2) {
            return d1.getFullYear() === d2.getFullYear() &&
              d1.getMonth() === d2.getMonth() &&
              d1.getDate() === d2.getDate();
          }

          var humanDates = document.querySelectorAll(".from-to");
          for (var i = 0; i < humanDates.length; i++) {
            var from = new Date(humanDates[i].dataset.from);
            var to = new Date(humanDates[i].dataset.to);
            var fullDateOptions = {
              weekday: 'long',
              year: 'numeric',
              month: 'long',
              day: 'numeric',
              hour12: true,
              hour: '2-digit',
              minute:'2-digit',
              timezone: "Asia/KualaLumpur"
            }
            var stringDate;
            if (sameDay(from, to)) {
              stringDate = from.toLocaleTimeString("en-GB", fullDateOptions) + " to " + to.toLocaleTimeString("en-GB", {
                hour12: true,
                hour: '2-digit',
                minute:'2-digit',
                timezone: "Asia/KualaLumpur"
              });
            } else {
              stringDate = from.toLocaleDateString("en-GB", fullDateOptions) + " to " + to.toLocaleDateString("en-GB", fullDateOptions);
            }
            humanDates[i].textContent = stringDate;
          }

          // generate gcal link
          var gcals = document.querySelectorAll("span.add-to-google-calendar");
          for (var i = 0; i < gcals.length; i++) {
            var gcal = gcals[i];
            var link = gcal.querySelector("a");
            var href = link.getAttribute("href");
            var dates = gcal.dataset.gcal;
            if (gcal.dataset.gcal.length == 0) {
              var fromVal = gcal.dataset.from;
              var toVal = gcal.dataset.to;
              fromVal = fromVal.replace(/-|:|\.\d\d\d/g,"");
              toVal = toVal.replace(/-|:|\.\d\d\d/g,"");
              dates = fromVal + "/" + toVal;
            }
            else {
            }
            href = href + "&dates=" + dates;
            link.setAttribute("href", href);
          }
        </script>


        {{ if .Params.tags }}
          <div class="blog-tags">
            {{ range .Params.tags }}
              <a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
            {{ end }}
          </div>
        {{ end }}

        {{ if .Site.Params.socialShare }}
          <hr/>
          <section id="social-share">
            <ul class="list-inline footer-links">
              {{ partial "share-links" . }}
            </ul>
          </section>
        {{ end }}
      </article>

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
